@import url("./components/Quadrant.css");

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.life-organizer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  height: 100vh;
  background: -webkit-linear-gradient(-45deg, #6db3f2 0%,#3690f0 33%,#3690f0 33%,#54a3ee 71%,#54a3ee 71%,#1e69de 100%);

  

}
